button.btn.navbar-btn.search-button-field.search-button__button:hover {
    border-width: 1px;
}

.circ {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.toc-entry .circ {
    width: 15px;
    height: 15px;
    font-size: 75%
}

/* .circ-text {
    font-weight: bold;
} */

.toc-entry .circ-text {
    font-weight: normal;
}

.circ-params {
    color: #ffffff;
    background-color: #5e5e5e;
}

.params {
    color: #5e5e5e;
}

.circ-variables {
    color: #ffffff;
    background-color: #0076ba;
}

.variables {
    color: #0076ba;
}

.circ-objective {
    color: #ffffff;
    background-color: #f09937;
}

.objective {
    color: #f09937;
}

.circ-constraints {
    color: #ffffff;
    background-color: #d41876;
}

.constraints {
    color: #d41876;
}

.color-certain {
    background-color: rgb(203,231,255);
}

.color-summing {
    background-color: rgb(255,237,201);
}

.color-uncertain {
    background-color: rgb(224,247,217);
}
